@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #F7F5FA;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  height: 100%;
  line-height: 1.7;
}
